@page "/advlist"

@using Newtonsoft.Json
@inject HttpClient Http

<div class="workblock">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Список вакансий</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Наименование вакансии</th>
                        <th scope="col">Номер телефона компании</th>
                        <th scope="col">Зарплата в USD</th>
                        <th scope="col">Курс</th>
                        <th scope="col">Зарплата в BYN</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var x in advs)
                    {
                    <tr>
                        <th scope="row">@x.id</th>
                        <td>@x.name</td>
                        <td>@x.phoneNumber</td>
                        <td>@x.salaryusd</td>
                        <td>@x.courseOfUSD</td>
                        <td>@x.salarybyn</td>
                    </tr>
                    }



                </tbody>

            </table>


        </div>
    </div>
</div>





@code {
    public List<Advertisement> advs;

    /*protected override void OnInitialized()
    {
        base.OnInitialized();

        advs = new List<Advertisement>();

        Advertisement adv1 = new Advertisement(1, "Dzhon", "Maxwell", "Евгеньевич",
                                                    "+375445698787", "maxwell@mail.ru", 25,
                                                    "Текст объявления", 5.2f, 2.8f, 15.3f);

        advs.Add(adv1);
    } */

    protected override async Task OnInitializedAsync()
    {

        advs = new List<Advertisement>();
        String jsonString = await Http.GetStringAsync("http://localhost:50001/api/Advertisement/GetList");

        Console.WriteLine(jsonString);
        advs = JsonConvert.DeserializeObject<List<Advertisement>>(jsonString);
    }

}
